*.md
project_id.txt

venv
*/venv/
*/*/venv
.env
*/.env
*/*/.env

credentials.json
*.key                      
config.yaml
.gcloud/
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.pyc
.DS_Store

project_id.txt
.terraform
.terraform*
.tfstate
.tfstate*
*.lock
*.lock*

infrastructure/tmp
infrastructure/configs/*
!infrastructure/configs/.gitkeep
infrastructure/*/*.lock*



